<script src="http://d3js.org/d3.v3.min.js"></script>
<style>
.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

transform-origin: left top 0;

}
</style>




				<div id="mainsearch">
				<p id="notice"><%= notice %></p>
				
<%= form_tag search_path, :method => 'post'  ,:class=>"searchform" do %>
   <%= text_field_tag :searchs, params[:searchs], :class=>"searchfield"%>
   <%= submit_tag "Search", :name => "seaching",:id=>"lButton"  %>
 <% end %>
	<%if @project %>
	<div style="float: left; margin-left: 9px; position: absolute; margin-top: -77px;">
			<img width="190" height="190" title="<%=@project.name%>" alt="<%=@project.name%>" class="attachment-thumbnail wp-post-image" src="<%=@project.photo.little%>">
			</div>
			<%end%>
				</div>
			
	
	<%if @project %>
	
	<h1><div style="text-align: center;height: 116px"><%=@project.name%><div style="font-size:15px;  font-weight: lighter;color: grey;">Goal: <%=@project.currency_symbol%><%=@project.goal%></div><div style="font-size:15px;  font-weight: lighter;color: grey;">	<%#=((DateTime.strptime(@project.deadline,'%s').in_time_zone("Pacific Time (US & Canada)").to_date - Time.now.in_time_zone("Pacific Time (US & Canada)").to_date).to_i)%>
	</br>
	<%#=DateTime.strptime(@project.deadline,'%s').in_time_zone("Pacific Time (US & Canada)")%>
	</div></div></h1>

				<%if @project.location%>
                                                 <h2> <%@project.location.displayable_name%></h2>
																																																<%end%>
																																																
																																																			<%if @project_pledged_backers %>
																																																			
<% if 1 ==2%>			
 
																																																<img width="190" height="190" title="<%=@project.name%>" alt="<%=@project.name%>" class="attachment-thumbnail wp-post-image" src="<%=@project.photo.little%>">


<div class="CSSTableGenerator" >
	
                <table style="align:center">
                    <tr>
                        <td>
                            Backers
                        </td>
                        <td >
                            Amount Pledged
                        </td>
                        <td>
                            Date
                        </td>
                    </tr>
																				<%@project_pledged_backers.each do |project_pledged_backer|%>
                    <tr>
                        <td >
                           <%=project_pledged_backer.backers_count%>
                        </td>
                        <td>
                           <%=@project.currency_symbol%><%=project_pledged_backer.pledged%> 
                        </td>
                        <td>
                            		<%=project_pledged_backer.pledges_created_at.strftime("%I %p %b %d, %Y")%>
                        </td>
                    </tr>
                    <tr>
   <%end%>
                </table>
            </div>
            
<%end%>							
<%end%>							
		<div style="">
				<div id="pledged_chart" ></div>				
				<div id="backed_chart" ></div>				


		</div>																																					
																																														
	
	<%end%>
 
	
	
	

<script>
<%if @full_pledge_graph%>
var margin = {top: 90, right: 20, bottom: 70, left: 90},
    width = 1000 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;
padding = 100;
// Parse the date / time
var	parseDate = d3.time.format("%Y-%m-%d").parse;

var x = d3.scale.ordinal().rangeRoundBands([0, width], .05);
var y = d3.scale.linear().range([height, 0]);



var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .tickFormat(d3.time.format("%Y-%m-%d"));

var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10)
				.tickFormat(d3.format("<%=@project.currency_symbol.to_s%>"));

var svg = d3.select("#pledged_chart").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", 
          "translate(" + margin.left + "," + margin.top + ")");


//~ var data_1 = [
	//~ {	"date":"2013-01",	
		//~ "value":"100"
	//~ },
	//~ {	"date":"2013-02",	
		//~ "value":"1650"
	//~ }]
	
	
	//~ var data = JSON.parse(<%=raw @pledges_graph.to_json%>)
	var data = JSON.parse(<%=raw @full_pledge_graph.to_json%>)
console.log(data)

    data.forEach(function(d) {
				//~ console.log(d)
        d.date = parseDate(d.date);
        d.value = +d.value;
    });
	
  x.domain(data.map(function(d) { return d.date; }));
  y.domain([0, d3.max(data, function(d) { return d.value; })]);

  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
    .selectAll("text")
      .style("text-anchor", "end")
      .attr("dx", "-.8em")
      .attr("dy", "-.55em")
      .attr("transform", "rotate(-90)" );

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      //~ .attr("dy", ".71em")
      .attr("dy", "-5em")
      .style("text-anchor", "end")
      .text("PLEDGED (<%=@project.currency_symbol%>)");


svg.append("g")         
        .attr("class", "grid")
        .attr("transform", "translate(0," + height + ")")
        .call(make_x_axis()
            .tickSize(-height, 0, 0)
            .tickFormat("")
        )

    svg.append("g")         
        .attr("class", "grid")
        .call(make_y_axis()
            .tickSize(-width, 0, 0)
            .tickFormat("")
        )



gro = svg.append('g')

  gro.selectAll("bar")
      .data(data)
    .enter()
				.append("g")
				.append("rect")
      .style("fill", "steelblue")
      .attr("x", function(d) { 
								return x(d.date);
						})
      .attr("width", x.rangeBand())
      //~ .attr("width", 20)
      .attr("y", function(d) { return y(d.value); })
      .attr("height", function(d) { return height - y(d.value); });
					
						
						gro.selectAll("g")
						.data(data)
						.append("text")
						.attr("class", "rotate")
								.style("fill", "black")
       .style("font-size", "10px")
							.style("text-anchor", "middle")
        .attr("x", function(d) { 
								return x(d.date) + 15;
						})
						.attr("y", function (d) { return y(d.value) + 10 })
				
       .text(function (d) { 
							if(d.value != "")
							{
							return  "<%=@project.currency_symbol%>" + d.value;
							}
							});


// function for the x grid lines
function make_x_axis() {
    return d3.svg.axis()
        .scale(x)
        .orient("bottom")
        .ticks(30)
}

// function for the y grid lines
function make_y_axis() {
  return d3.svg.axis()
      .scale(y)
      .orient("left")
      .ticks(10)
}
<%end%>


</script>


